{% extends 'short/layout.html' %}

{% block content %}

<h2>Your Short URLs</h2>

<p>
  <button class="btn btn-success"><a href="{% url 'create' %}" class="link-light link-underline link-underline-opacity-0">Create new</a></button>
  <form method="post" action="{% url 'logout' %}" style="display:inline;">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger mt-3">Logout</button>
</form>
</p>

<table class="table table-striped table-light">
  <tr>
    <th>Short</th>
    <th>Original</th>
    <th>Created</th>
    <th>Clicks</th>
    <th>Action</th>
  </tr>

  {% for u in urls %}
  <tr>
    <td><a href="/{{ u.short_key }}/" target="_blank" class="link-success">{{ request.get_host }}/{{ u.short_key }}</a></td>
    <td>{{ u.original_url }}</td>
    <td>{{ u.created_at }}</td>
    <td>{{ u.clicks }}</td>
    <td>
      <button class="btn btn-danger"><a href="{% url 'delete' u.id %}" class="link-light link-underline link-underline-opacity-0">Delete</a></button>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="5">No URLs yet</td></tr>
  {% endfor %}
</table>

{% endblock %}